* {
    box-sizing: border-box;
    font-family: Pangolin;
}

body {
    background-image: url(https://i.pinimg.com/736x/c9/a1/b1/c9a1b113445cbba294ba9885af96f0eb.jpg);
}

.calc_body {
    width: 400px;
    height: 650px;
    background-color: #FE9CC6;
    border: 2px solid #90304F;
    border-radius: 15px;
    box-shadow: 4px 4px 0 #C04774;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
}

.calc_display {
    width: 360px;
    height: 160px;
    background-color: #FE9CC6;
    border: 2px solid #90304F;
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
}

.calc_text {
    width: 350px;
    height: 150px;
    background-color: #ECFBFF;
    margin: auto;
    border: 2px solid #90304F;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
}

.calc_form {
    font-size: 20px;
    padding: 5px; 
    padding-top: 20px;
    color: #8E715A;
    margin: 0;
}

.calc_number{
    font-size: 75px;
    color: #5D2708;
    margin: 0;
    padding: 0;
}

.calc_teclado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.calc_tecla {
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: #D0EEFD;
    border: 2px solid #305a90;
    color: #083e5d;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #305a90;
    padding: 0.1em 0.25em;
    transition: all 0.3s ease-in-out;
}

.calc_tecla:hover{
    transform: translateY(4px) translateX(2px);
    box-shadow: 0 0 0 0;
}
